.reviewFormCont {
  font-size: 0.9rem;
  margin: 0 auto;
}

.productContainer {
  content: ' ';
  display: inline-block;
  width: 100%;
  margin: 5px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid black;
}

.ProductTitle {
  overflow: hidden;
  color: #505050;
  display: block;
  padding-left: 5%;
  font-size: 0.9rem;
}

.heroImg {
  width: 100%;
  float: left;
  display: block;
}

.pItem {
  float: left;
  display: block;
  width: 20%;
}

/* FORM STARS */

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating>input {
  opacity: 0;
  margin-right: -100%;
}

.rating>label {
  position: relative;
  display: block;
  float: right;
  background: url('../assets/images/OuterStar.png');
  background-size: 30px 30px;
}

.rating>label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../assets/images/InnerStar.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating:not(:hover)> :checked~label:before {
  opacity: 1;
}

.reviewName {
  padding: 4%
}

.reviewName label,
.reviewBody label {
  text-transform: capitalize;
  color: #333333;
  font-size: 0.9rem;
}

.reviewBody {
  display: block;
  margin: 0%;
  padding: 0%;
  width: 50%;
}

.btnCont {
  margin: 0 auto;
  width: 27%;
  padding: 5%;
}

.btn {
  outline: none;
  background: #3498db;
  border: 1px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  outline-color: none;
  background: #3cb0fd;
}
