.reviewCont {
  margin: 0;
  border-bottom: 2px solid #0000003d;
  border-top: 2px solid #8080802e;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.btnCont {
  width: 100%;
  padding: 2%;
  margin: 0 auto;
}

.btn {
  outline: none;
  background: #3498db;
  border: 1px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  outline-color: none;
  background: #3cb0fd;
}

.rHeader {
  padding: 2%;
}

.subHeader {
  padding: 2%;
}

.subHeader span {
  font-size: 3rem;
  padding: 2%;
}
